:root {
  --primary-theme-color: #7270f0;
  --dark-primary-bg: #0d0d0d;
  --dark-secondary-bg: #212121;
  --dark-tertiary-bg: #323232;
  --accent-red: #ff7272;
  --accent-white: #c8c8c8;
  --accent-grey: #444446;
  --accent-black: #1d1d1d;
  --grid-size: 3;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-primary-bg);
  font-family: Arial, sans-serif;
  color: var(--accent-white);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  color: var(--primary-theme-color);
  padding: 32px;
}

main {
  display: flex;
  padding: 0 32px;
  gap: 24px;
  width: 100vw;
  flex: 1;
}

#user-tiles {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.user-tile {
  display: flex;
  flex-direction: column;
  width: calc((100% / var(--grid-size)) - 8px);
  background-color: var(--dark-secondary-bg);
  padding: 24px;
  border-radius: 24px;
  max-width: 500px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: max(300px, 20%);
  gap: 12px;
  background-color: var(--dark-secondary-bg);
  padding: 24px;
  border-radius: 24px;
}

.side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-aside {
  color: var(--accent-white);
  cursor: pointer;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

#chat-content-container {
  flex: 1;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--accent-grey);
}

#chat-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}

#chat-form {
  display: flex;
  gap: 8px;
  background-color: var(--dark-tertiary-bg);
  color: var(--accent-white);
  padding: 12px 18px;
  border-radius: 24px;
}

#chat-input {
  flex: 1;
  background-color: inherit;
  border: none;
  caret-color: var(--accent-white);
  color: var(--accent-white);
}

#chat-input:focus {
  outline: none;
}

#chat-submit {
  cursor: pointer;
  color: var(--accent-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.participants {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}

#participants-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.participant {
  display: flex;
  align-items: center;
  gap: 12px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 24px 32px;
  gap: 24px;
}

.meet-action {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-white);
  background-color: var(--dark-secondary-bg);
  border-radius: 50%;
  height: 54px;
  width: 54px;
  cursor: pointer;
}

.meet-action:hover {
  background-color: var(--dark-tertiary-bg);
}

.meet-action[data-active="true"] {
  background-color: var(--primary-theme-color);
  color: var(--accent-black);
}

#cancel-presentation-btn {
  background-color: var(--primary-theme-color);
  color: var(--accent-black);
}

.toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: var(--dark-tertiary-bg);
  color: var(--accent-red);
  padding: 12px 24px;
  border-radius: 12px;
  display: block;
}

.hide {
  display: none;
}
