main {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  width: calc(100vw - 64px);
  height: calc(100vh - 118px);
}

#presentation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: var(--dark-tertiary-bg);
  color: var(--accent-red);
  padding: 12px 24px;
  border-radius: 12px;
  display: block;
}

.hide {
  display: none;
}
